# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
*.jar
example_data/Test1-515_qupath/images/Test1@20220804_185225_161578.metadata
example_data/Test1-515_qupath/images/test1_deflate.ome.tiff
